.questionCard {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 6px;
}

.questionCard:not(:first-child) {
  margin-top: 10px;
}

.questionText {
  font-size: 18px;
  margin-bottom: 10px;
}

.optionList {
  list-style-type: none;
  padding: 0;
}

.option {
  font-weight: bold;
}

.option::before {
  content: "\25CF"; 
  color: #ddd; 
  margin-right: 0.5em;
}

@media screen and (max-width: 768px) {
  .quizContainer {
    padding: 10px;
    margin: 10px;
  }

  .questionText {
    font-size: 16px;
  }
}